.carousel-inner{
    max-height: 30rem;
}

img{
    max-height: 30rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.footer{
    color:black;
    background:#ffc107;
}

